@model Entidades.DirectorTecnico
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ganador</title>
</head>
<body>
    <div>
        <h4>El Ganador es:  </h4>
        <ul>
            <li>
                <p> <spam><b>DT:</b> </spam>@Model.NombreDeUsuario</p>
            </li>
            <li>
                <p><spam><b>Puntaje total:</b> </spam> @Model.Puntos</p>
            </li>
            <li>
                <p><spam><b>Arquero:</b> </spam> @Model.Arquero.Apellido, @Model.Arquero.Nombre . Puntos = @Model.Arquero.Puntos </p>
            </li>
            <li>

                <p><spam><b>Delantero 1:</b> </spam> @Model.Delantero1.Apellido, @Model.Delantero1.Nombre . Puntos = @Model.Delantero1.Puntos</p>
            </li>
            <li>
                <p><spam><b>Delantero 2:</b> </spam> @Model.Delantero2.Apellido, @Model.Delantero2.Nombre . Puntos = @Model.Delantero2.Puntos</p>
            </li>                     
        </ul>
       
    </div>
</body>
</html>
